.cover {
  position: relative;
  background-image: url("../../images/cover.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 700px;
}
  .cover__slogan {
    max-width: 800px;
    margin: auto;
    padding: 250px 0 50px 0;
    color: white;
    text-align: center;
    -webkit-font-smoothing: antialiased;
  }
    .cover__slogan-small {
      font-family: 'Lora', sans-serif;
      font-size: 17px;
      letter-spacing: 1px;
    }

    .cover__slogan-big {
      margin-top: 15px;
      font-size: 70px;
      line-height: 75px;
    }

.cover__logo {
  width: 100px;
  height: 100px;
  margin: 100px auto 0 auto;

  background-image: url("http://scontent.cdninstagram.com/t51.2885-19/s150x150/1169013_1493670457609407_834507283_a.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  border-radius: 50%;
  border: solid 5px transparent;
  box-shadow: 0 0 0 3px white;

  background-clip: padding-box;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
}
