.header {
  position: fixed;
  top: 0;
  width: 100%;
  color: white;
  height: 80px;
  line-height: 80px;
  z-index: 1;

  -webkit-transition: background 300ms;
  transition: background 300ms;
}

  .header--changed {
      background-color: white;
      color: black !important;
      height: 60px;
      line-height: 60px;
      box-shadow: 0px 1px 0px 0px rgba(83,69,64,0.16), 0px 1px 2px 0px rgba(0,0,0,0.1);
  }

  .header__menu {
    float: right;
  }

    .header__menu-icon{
      font-size: 20px;
      margin-left: 10px;
      transform: translateY(2px);
    }


  .header__title {
    font-size: 30px;
    display: inline-block;
    vertical-align: top;
  }

  .header--changed .header__title {
    display: none;
  }

/* HEADER SECONDARY */
.header__secondary {
  position: absolute;
  left: 0;
  display: none;
}

.header--changed .header__secondary {
  display: inline-block;
}

.header__secondary__title {
  width: 200px;
  height: 60px;
  background-color: black;
  background-image: url("../../images/logo.png");
  background-size: 60px;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
}

.header__secondary__actions {
  display: inline-block;
  vertical-align: top;
}

  .header__secondary__actions a {
    padding: 0 25px;
    display: inline-block;
    color: #999;

    -webkit-transition: all 200ms;
    transition: all 200ms;
  }

  .header__secondary__actions a:hover {
    color: white;
    background-color: black;
    text-decoration: none;
  }
