<div class="modal modal-js" id="modal-$1">
  <div class="modal-close-js">
    {{> svg-icon-close}}
  </div>
  <div class="modal__inner">
    <div class="wrapper">
      <h1 class="text-center">Studies Found</h1>
      <br><br>
      {{studies}}
    </div>
  </div>
</div>
