<div class="post">
  <div class="post__left">
    <div class="post__left__avatar" style="background-image: url(../images/user.png)"></div>
    <div class="post__left__votes">
      {{> svg-icon-trending}}$1
    </div>
  </div>
  <a href="$2">
    <div class="post__content">
      <div class="post__content__link" style="background-image: url(https://process.filestackapi.com/AV0jeucXSwuibGqPRbugyz/resize=width:800/sharpen/$3)">
        <h2>$4</h2>
        <h5>$5</h5>
      </div>
    </div>
  </a>
</div>
