/* Common */
@import 'common/reset.css';
@import 'common/grid.css';
@import 'common/animations.css';
@import 'common/partials.css';

/* Plugins */

/* Components */
@import 'components/header.css';
@import 'components/cover.css';
@import 'components/tabs.css';
@import 'components/modal.css';
@import 'components/study.css';
@import 'components/posts/post.css';
@import 'components/posts/post-large.css';
@import 'components/posts/posts.css';

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 21px;
  text-rendering: optimizeLegibility;
}

  .fixed {
    overflow: hidden;
  }

  .fixed .header {
    display: none;
  }

  .fixed .post-large {
    opacity: 0.2;
  }

a:hover {
  color: black;
}

.wrapper {
  width: 95%;
  max-width: 1000px;
  margin: auto;
}

.main-content {
  padding-top: 100px;
}
