.tabs {
  position: relative;
  width: 100%;
  min-height: 150px;
  text-align: center;
}

  .tabs a {
    color: black;
  }

  .tabs > div > a {
    color: #999;
    text-decoration: underline;
  }

  .tabs__current {
    padding-top: 50px;
    margin-bottom: 20px;
    font-size: 40px;
  }

  .tabs__change {
    font-family: 'Lora', serif;
    letter-spacing: 1px;
  }
