/* Common */
@import 'common/reset.css';
@import 'common/grid.css';

/* Plugins */
@import 'plugins/font-awesome/css/font-awesome.css';

/* Components */
@import 'components/header.css';
@import 'components/cover.css';
@import 'components/tabs.css';
@import 'components/posts/post.css';
@import 'components/posts/post-large.css';
@import 'components/posts/posts.css';

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 21px;
  text-rendering: optimizeLegibility;
}

.wrapper {
  width: 95%;
  max-width: 1000px;
  margin: auto;
}

.main-content {
  margin-top: 100px;
}
