.post {
  position: relative;
  max-width: 520px;
}

  .post a {
    text-decoration: none;
  }

  .post__left {
    position: absolute;
    left: 0;
    width: 50px;
    height: auto;
  }

    .post__left__avatar {
      width: 50px;
      height: 50px;
      border-radius: 3px;
      background-size: cover;
    }

    .post__left__votes {
      text-align: center;
      margin-top: 10px;
    }

      .post__left__votes svg {
        width: 30px;
        height: auto;
        display: inline-block;
        vertical-align: middle;
      }

        .post__left__votes svg path {
          fill: #70D3FD;
        }

  .post__content {
    position: relative;
    margin-left: 65px
  }

    .post__content__link {
      position: relative;
      width: 100%;
      height: 280px;
      padding: 20px;
      border-radius: 3px;
      background-color: #CCC;
      background-size: cover;
      overflow: hidden;

      color: white;
      -webkit-font-smoothing: antialiased;
    }
      .post__content__link:before {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.2);
        content: " ";
      }

      .post__content__link h2 {
        position: relative;
        font-size: 28px;
        line-height: 34px;
        font-family: "Lora", serif;
      }

      .post__content__link h5 {
        position: relative;
        margin-top: 10px;
        font-weight: normal;
        line-height: 21px;
      }

.post-related {
  max-width: 320px;
  margin: auto;
}

  .post-related__title {
    font-family: "Lora", serif;
    line-height: 21px;
  }

  .post-related__content {
    position: relative;
    width: 100%;
    height: 180px;
    padding: 15px;
    border-radius: 3px;
    background-size: cover;
    overflow: hidden;

    color: white;
    -webkit-font-smoothing: antialiased;
  }

    .post-related__content:before {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.2);
      content: " ";
    }

    .post-related__content h4 {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      padding: 15px;
      font-family: "Lora", serif;
      line-height: 21px;

      background: linear-gradient(rgba(0, 0, 0, 0), rgba(0,0,0,0.4));
    }
