.post {
  position: relative;
  max-width: 520px;
}

  .post__author-avatar {
    position: absolute;
    left: 0;
    width: 50px;
    height: 50px;
  }

    .post__author-avatar__image {
      width: 100%;
      height: 100%;
      border-radius: 3px;
      background-size: cover;
    }

  .post__content {
    position: relative;
    margin-left: 65px
  }

    .post__content__link {
      position: relative;
      width: 100%;
      height: 280px;
      padding: 20px;
      border-radius: 3px;
      background-color: #ccc;
      overflow: hidden;

      color: white;
      -webkit-font-smoothing: antialiased;
    }
      .post__content__link:before {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.2);
        content: " ";
      }

      .post__content__link h2 {
        position: relative;
        font-size: 25px;
        line-height: 31px;
      }

      .post__content__link h5 {
        position: relative;
        margin-top: 10px;
        opacity: 0.8;
        font-weight: normal;
        line-height: 21px;
      }

.post-related {
  max-width: 320px;
  margin: auto;
}

  .post-related__title {
    line-height: 24px;
  }

  .post-related__content {
    position: relative;
    width: 100%;
    height: 180px;
    padding: 15px;
    border-radius: 3px;
    overflow: hidden;

    color: white;
    -webkit-font-smoothing: antialiased;
  }

    .post-related__content:before {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.2);
      content: " ";
    }

    .post-related__content h4 {
      position: absolute;
      left: 0;
      bottom: 0;
      padding: 15px;
      line-height: 24px;

      background: linear-gradient(rgba(0, 0, 0, 0), rgba(0,0,0,0.4));
    }
