<div class="header header--changed">
  <div class="wrapper">
    <div class="header__title">
      1Will
    </div>
    <div class="header__secondary">
      <div class="header__secondary__title"></div>
      <div class="header__secondary__actions">
        <a>Categorias</a>
        <a>Loja</a>
      </div>
    </div>
    <div class="header__menu">
      MENU <i class="fa fa-bars"></i>
    </div>
  </div>
</div>
