<div class="header header--changed">
  <div class="wrapper">
    <div class="header__title">
      1Will
    </div>
    <div class="header__secondary">
      <a href="/"><div class="header__secondary__title"></div></a>
      <div class="header__secondary__actions">
        <a>Categorias</a>
        <a>Loja</a>
      </div>
    </div>
    <div class="header__menu">
      Menu <i class="fa fa-angle-down" aria-hidden="true"></i>
    </div>
  </div>
</div>
