<div class="header header-js">
  <div class="wrapper clearfix">
    <div class="header__title">
      {{> svg-logo-text}}
    </div>
    <div class="header__secondary">
      <a href="/"><div class="header__secondary__title"></div></a>
      <div class="header__secondary__actions">
        <a>Categorias</a>
        <a>Loja</a>
      </div>
    </div>
    <a class="header__menu">
      <span>Menu</span> {{> svg-icon-arrow-down}}
    </a>
  </div>
</div>
