*, *:before, *:after {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, cite,
code, del, dfn, em, img, q, s, samp, small, strike, strong, sub, sup, tt, var,
dd, dl, dt, li, ol, ul, fieldset, form, label, legend, button, table, caption, tbody,
tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: normal;
  font-style: normal;
  font-size: 100%;
  font-family: inherit;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ol, ul {
  list-style: none;
}

a:focus {
  outline: thin dotted;
}

a:hover, a:active {
  outline: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block;
}

audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

audio:not([controls]) {
  display: none;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

textarea{
  resize: none;
  overflow: auto;
  vertical-align: top;
}

button, input {
  color: inherit;
  font-family: inherit;
  margin: 0;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}

a {
  color: #3B5998;
  text-decoration: none;
  line-height: inherit;
  font-weight: inherit;
}

a:hover {
  color: #00438a;
  text-decoration: underline;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

h1 {
  margin-bottom: 18px;
  font-size: 30px;
  line-height: 36px;
}

h2 {
  font-size: 22px;
  line-height: 36px;
}

h3, h4, h5, h6 {
  line-height: 36px;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 16px;
}

h5 {
  font-size: 14px;
}

h6 {
  font-size: 13px;
  color: #BFBFBF;
  text-transform: uppercase;
}

ul, ol {
  margin: 0 0 18px 25px;
}

ul ul,
ul ol,
ol ol,
ol ul {
  margin-bottom: 0;
}

ul {
  list-style: disc;
}

ol {
  list-style: decimal;
}

hr {
  margin: 20px 0 19px;
  border: 0;
  border-bottom: 1px solid #eee;
}

strong {
  font-style: inherit;
  font-weight: bold;
}

em {
  font-style: italic;
  font-weight: inherit;
  line-height: inherit;
}

input,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
}

input[type=checkbox], input[type=radio] {
  cursor: pointer;
}

select {
  padding: initial;
}

input[type=checkbox], input[type=radio] {
  width: auto;
  height: auto;
  padding: 0;
  margin: 3px 0;
  *margin-top: 0;
  /* IE6-7 */

  line-height: normal;
  border: none;
}

input[type=file] {
  background-color: #FFF;
  padding: initial;
  border: initial;
  line-height: initial;
  box-shadow: none;
}

select, input[type=file] {
  height: 27px;
  *height: auto;
  line-height: 27px;
  *margin-top: 4px;
  /* For IE7, add top margin to align select with labels */

}

select[multiple] {
  height: inherit;
  background-color: #ffffff;
}

input:focus, textarea:focus, .input:focus, div[contenteditable=true] {
  outline: none;
}

table {
  width: 100%;
  padding: 0;
  font-size: 13px;
  border-collapse: collapse;
}

table th, table td {
  padding: 10px 10px 9px;
  line-height: 18px;
  text-align: left;
}

table th {
  padding-top: 9px;
  font-weight: bold;
  vertical-align: middle;
}

table td {
  vertical-align: center;
}

table tbody th {
  border-top: 1px solid #DDD;
  vertical-align: top;
}

tt, code, pre {
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 12px;
}
